<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vachan Demos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script type="text/javascript">
      var srcLength = null;
      var trgLength = null;
      var alignJson = null;
      const BASE_URL = "{{BASE_URL}}"
      async function VElogin() {
        var email = document.getElementById('userEmail').value
        var password = document.getElementById('userPassword').value
        var divElement = document.getElementById("login-form")
        var url = BASE_URL+"/v2/user/login?"+"user_email="+email+"&password="+password

        fetch(url)
              .then(response => response.json())
              .then(data => { 
                              if("token" in data) {
                                authToken = data['token']
                                divElement.innerHTML = "<div class=\"d-flex flex-row-reverse mb-1 p-1 border\">"+
                                  "<button class=\"btn btn-secondary\" onclick=\"VElogout();\">Logout</button>"+
                                  "<p id=token class=\"text-success\">"+authToken+"</p>"+
                                  "<p> Token:</p>"+
                                  "</div>"
                              }
                              else if("error" in data) {
                                alert(data['error']+": "+data['details'])
                              }
                            }
                    );
      }

      async function VElogout() {
        var token = document.getElementById('token').textContent;
        console.log(token)
        var url = BASE_URL+"/v2/user/logout"
        var header = {
                      "Authorization": "Bearer "+token,
                      'Content-type': 'application/json',}
        fetch(url,{
          method: 'GET',
          headers:header,
          })
            .then(response => response.json())
            .then( data => {
                      if ("message" in data && data['message'] == "Successfully Logged out"){
                         authToken = null;
                         location.reload(); 
                       }
                      else
                        alert(JSON.stringify(data))
            });
      }

      function prettyPrint() {
          var jsonElement = document.getElementById('alignment-json')
          var outElement =  document.getElementById('output');
          var ugly = jsonElement.value;
          if (ugly==null){
            ugly = "{}"
          }
          try{
            var obj = JSON.parse(ugly);
            var pretty = JSON.stringify(obj, undefined, 4);
            jsonElement.value = pretty;
            alignJson = obj;
            outElement.innerHTML = "<p class=\"text-secondary\"> OUTPUT </p>"
          } catch(err){
            outElement.innerHTML = "<p class=\"text-danger\">JSON "+err+"</p>";
          }
      }

      function displaySrcTrgTexts() {
        var src = document.getElementById("src-text").value;
        var trg = document.getElementById("trg-text").value;
        var alignJson = document.getElementById('alignment-json').value;

        var outHTML = ""

        outHTML += "<div class=\"d-flex flex-row  flex-wrap\" >"
        var srcChars = src.split("");
        srcLength = srcChars.length
        for(let i=0;i<srcChars.length; i++ ){
          srcChar = srcChars[i]
          if (srcChar == " ") {srcChar = "&nbsp;"}
          oneCharHTML = "<div id=\"srcChar-"+i+"\" "+
            "class=\"d-flex\" "+
            "onMouseOver=\"showAlignment('src',"+i+")\" "+
            "onMouseOut=\"hideAlignment()\" "+
            ">"+srcChar+"</div>"
          outHTML+=oneCharHTML
        }
        outHTML += "</div><br><br>"
        outHTML += "<div class=\"d-flex flex-row  flex-wrap\" >"
        var trgChars = trg.split("");
        trgLength = trgChars.length
        for(let i=0;i<trgChars.length; i++ ){
          trgChar = trgChars[i]
          if (trgChar == " ") {trgChar = "&nbsp;"}
          oneCharHTML = "<div id=\"trgChar-"+i+"\" "+
            "class=\"d-flex\" "+
            "onMouseOver=\"showAlignment('trg',"+i+")\" "+
            "onMouseOut=\"hideAlignment()\" "+
            ">"+trgChar+"</div>"
          outHTML+=oneCharHTML
        }
        outHTML += "</div><br>" 
        document.getElementById('output').innerHTML = outHTML
        showTranslationStatus();
      }

      function showTranslationStatus(){
        var segments=alignJson
        for(let i=0; i<srcLength; i++) {
          document.getElementById('srcChar-'+i).style.color = "black"
        }
        for(let i=0; i<trgLength; i++) {
          document.getElementById('trgChar-'+i).style.color = "black"
        }
        for(let i=0; i<segments.length; i++) {
          let seg = segments[i]
          let colour = "black"
          if (seg[2] == "confirmed")
            colour = "green"
          else if (seg[2] == "suggestion")
            colour = "orange"
          for(let j=seg[0][0]; j<seg[0][1]; j++) {
            document.getElementById('srcChar-'+j).style.color = colour
          }
          for(let j=seg[1][0]; j<seg[1][1]; j++) {
            document.getElementById('trgChar-'+j).style.color = colour
          }
        }
      }


      function findAlignment(srcIndex=null, trgIndex=null) {
        let segments = []
        if (srcIndex != null) {
          for (let i=0; i<alignJson.length;i++) {
            let seg = alignJson[i]
            console.log("checking src index in ",seg)
            if (seg[0][0] <= srcIndex && srcIndex < seg[0][1]) {
              segments.push(seg)
            }
          }
        }
        if (trgIndex != null) {
          for (let i=0; i<alignJson.length;i++) {
            let seg = alignJson[i]
            if (seg[1][0] <= trgIndex && trgIndex < seg[1][1]) {
              segments.push(seg)
            }
          }
        }
        return segments
      }

      function showAlignment(sent, index) {
        let segments = []
        if (sent == "src") {segments = findAlignment(index, null)} 
        if (sent == "trg") {segments = findAlignment(null, index)}
        for (let i=0; i < segments.length; i++) {
          for(let j=segments[i][0][0]; j <segments[i][0][1]; j++){
            document.getElementById('srcChar-'+j).style.backgroundColor = "blue"
          }
          for(let j=segments[i][1][0]; j <segments[i][1][1]; j++){
            document.getElementById('trgChar-'+j).style.backgroundColor = "blue"
          }

        }
      }

      function hideAlignment() {
        for (let i=0; i<srcLength; i++){
          document.getElementById('srcChar-'+i).style.backgroundColor = "white"
        }
        for (let i=0; i<trgLength; i++){
          document.getElementById('trgChar-'+i).style.backgroundColor = "white"
        }

      }

    </script>


</head>
<body>
  <!-- <div id="login-form">
    <div class="d-flex flex-row mb-3 p-1 border">
      <input type="text" placeholder="Email" id="userEmail">
      <input type="password" placeholder="Password" id="userPassword">
      <button  class="btn btn-secondary" id="loginButton" onclick="VElogin();" >Login</button>
      <a href="http://localhost:8000/v2/demos/user/register"> Sign Up </a>
    </div>
  </div> -->
  <div class="d-flex flex-row">
  <img src="https://vachanonline.com/favicon.ico" alt="Vachan Logo">
  <h1> Demo - Alignment Data Structure</h1>
  </div>

  <div class="container vh-100">
  <button class="btn btn-secondary" onclick="displaySrcTrgTexts();">Process</button>
    <div class="row h-100">
      <div class="col d-flex flex-column border vw-50">
           <textarea class="p-1 m-1" id="src-text" placeholder="The source sentence"></textarea>
           <textarea class="p-1 m-1" id="trg-text" placeholder="The target sentence"></textarea>
            <textarea class="p-1 m-1 h-100" id="alignment-json" 
              placeholder="The Alignment metaData JSON"
              onblur="prettyPrint();"></textarea>
      
      </div>
      <div class="col d-flex border">
        <div id="output" class="h-100 w-100">
          <p class="text-secondary">OUTPUT</p>
          <div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
</body>
















