<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vachan Demos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script type="text/javascript">
      function stringToHTML(str) {
          var parser = new DOMParser();
          var doc = parser.parseFromString(str, 'text/html');
          return doc.body;
        };
    </script>

</head>
<body>
  <div class="d-flex flex-row">
  <img src="https://vachanonline.com/favicon.ico" alt="Vachan Logo">
  <h1> Demo - Bible Verses</h1>
  </div>

  <div class="container">
    <div id="book-chapter" class="fw-bold">
     {{ book_chap}}
    </div>
    <div id="verse-nums-n-texts" class="d-flex flex-row flex-wrap ">
      {{ verses_n_texts|safe }}
    </div>
  </div>

</body>
















