<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vachan Demos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script type="text/javascript">
      const BASE_URL = "{{BASE_URL}}"
      async function VElogin() {
        var email = document.getElementById('userEmail').value
        var password = document.getElementById('userPassword').value
        var divElement = document.getElementById("login-form")
        var url = BASE_URL+"/v2/user/login?"+"user_email="+email+"&password="+password

        fetch(url)
              .then(response => response.json())
              .then(data => { 
                              if("token" in data) {
                                divElement.innerHTML = "<div class=\"d-flex flex-column\">"+
                                  "<p> Token:</p>"+
                                  "<p id=token class=\"text-success\">"+data['token']+"</p>"+
                                  "<button class=\"btn btn-secondary p-3\" onclick=\"VElogout();\">Logout</button>"+
                                  "</div>"
                              }
                              else if("error" in data) {
                                alert(data['error']+": "+data['details'])
                              }
                            }
                    );
      }

      async function VElogout() {
        var token = document.getElementById('token').textContent;
        var url = BASE_URL+"/v2/user/logout"
        var header = {
                      "Authorization": "Bearer "+token,
                      'Content-type': 'application/json',}
        fetch(url,{
          method: 'GET',
          headers:header,
          })
            .then(response => response.json())
            .then( data => {
                      if ("message" in data && data['message'] == "Successfully Logged out")
                         location.reload(); 
                      else
                        alert(JSON.stringify(data))
            });
      }


    </script>

</head>
<body>
  <div class="d-flex flex-row">
  <img src="https://vachanonline.com/favicon.ico" alt="Vachan Logo">
  <h1> Demo - Login </h1>
  </div>
  <div class="d-flex flex-row m-1 p-1 border" id="login-form">
    <!-- <form action="" class="form-inline mt-5" id="login-form" onsubmit="VElogin()"> -->
      <div class="d-flex flex-column m-1 p-1">
        <input type="text" placeholder="Email" id="userEmail">
        <input type="password" placeholder="Password" id="userPassword">
        <button  class="btn btn-secondary" id="loginButton" onclick="VElogin();" >Login</button>
        <a href="http://localhost:8000/v2/demos/user/register"> Sign Up </a>
      </div>
    <!-- </form> -->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
</body>
















