<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vachan Demos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script type="text/javascript">
      const BASE_URL = "{{BASE_URL}}"
      async function VEregister() {
        var name1 = document.getElementById('userName1').value
        var name2 = document.getElementById('userName2').value
        var email = document.getElementById('userEmail').value
        var password = document.getElementById('userPassword').value
        var divElement = document.getElementById("register-form")
        console.log(email)
        var url = BASE_URL+'/v2/user/register?app_type=API-user'
        var payload = {
              "email": email,
              "password": password,
              "firstname": name1,
              "lastname": name2
        }
        fetch(url,{
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json',
                },
                method: "POST",
                body: JSON.stringify(payload)
            })
              .then(response => response.json())
              .then(data => { 
                              if("message" in data) {
                                divElement.innerHTML = "<div class=\"d-flex flex-column\">"+
                                  "<p class=\"text-success\">"+data['message']+"</p>"+
                                  "<a href=\"{{BASE_URL}}/v2/demos/user/login\"> Sign In </a>"+
                                  "</div>"
                              }
                              else if("error" in data) {
                                divElement.innerHTML = "<div class=\"d-flex flex-column\">"+
                                  "<p id=token class=\"text-danger\">"+data['error']+": "+data['details']+"</p>"+
                                  "<button class=\"btn btn-secondary\" onclick=\"location.reload();\"> Retry </button>"
                                  "</div>"
                              }
                            }
                    );
      }


    </script>

</head>
<body>
  <div class="d-flex flex-row">
  <img src="https://vachanonline.com/favicon.ico" alt="Vachan Logo">
  <h1> Demo - Register </h1>
  </div>
  <div class="container my-3">
    <div class="d-flex flex-row m-1 p-1 border" id="register-form">
        <div class="d-flex flex-column m-1 p-1">
          <input type="text" placeholder="First Name" id="userName1">
          <input type="text" placeholder="Last Name" id="userName2">
          <input type="text" placeholder="Email" id="userEmail">
          <input type="password" placeholder="Password" id="userPassword">
          <button  class="btn btn-secondary" id="loginButton" onclick="VEregister();" >Register</button>
          <a href="{{BASE_URL}}/v2/demos/user/login"> Sign In </a>
        </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>


