<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vachan Demos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script type="text/javascript">
      const BASE_URL = "{{BASE_URL}}"
      var outputForDownload = "";
      async function VElogin() {
        var email = document.getElementById('userEmail').value
        var password = document.getElementById('userPassword').value
        var divElement = document.getElementById("login-form")
        var url = BASE_URL+"/v2/user/login?"+"user_email="+email+"&password="+password

        fetch(url)
              .then(response => response.json())
              .then(data => { 
                              if("token" in data) {
                                authToken = data['token']
                                divElement.innerHTML = "<div class=\"d-flex flex-row-reverse mb-1 p-1 border\">"+
                                  "<button class=\"btn btn-secondary\" onclick=\"VElogout();\">Logout</button>"+
                                  "<p id=token class=\"text-success\">"+authToken+"</p>"+
                                  "<p> Token:</p>"+
                                  "</div>"
                              }
                              else if("error" in data) {
                                alert(data['error']+": "+data['details'])
                              }
                            }
                    );
      }

      async function VElogout() {
        var token = document.getElementById('token').textContent;
        var url = BASE_URL+"/v2/user/logout"
        var header = {
                      "Authorization": "Bearer "+token,
                      'Content-type': 'application/json',}
        fetch(url,{
          method: 'GET',
          headers:header,
          })
            .then(response => response.json())
            .then( data => {
                      if ("message" in data && data['message'] == "Successfully Logged out"){
                         authToken = null;
                         location.reload(); 
                       }
                      else
                        alert(JSON.stringify(data))
            });
      }

      function prettyPrint() {
          var jsonElement = document.getElementById('alignment-json')
          var outElement =  document.getElementById('output');
          var ugly = jsonElement.value;
          if (ugly==null){
            ugly = "{}"
          }
          try{
            var obj = JSON.parse(ugly);
            var pretty = JSON.stringify(obj, undefined, 4);
            jsonElement.value = pretty;
            alignJson = obj;
            outElement.innerHTML = "<p class=\"text-secondary\"> OUTPUT </p>"
          } catch(err){
            outElement.innerHTML = "<p class=\"text-danger\">JSON "+err+"</p>";
          }
      }

      function convertUSFM(){
        var usfm = document.getElementById('input-usfm').value;
        var format = document.getElementById('format-select').value;
        var filter = document.getElementById('filter-select').value;
        var outElement = document.getElementById('output');
        var url = BASE_URL+"/v2/files/usfm/to/"+format+"?"+
                "content_filter="+filter
        var payload = {
          "USFM" : usfm
        }
        console.log(url)
        fetch(url,{
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json',
                },
                method: "PUT",
                body: JSON.stringify(payload)
            })
              .then(response => response.json())
              .then(data => { 
                              if (!(typeof data === 'string' || data instanceof String) && ("error" in data)) {
                                outElement.innerHTML = "<p class=\"text-danger\">Error:"+
                                                        data['details']+
                                                        "</p><p class=\"text-warning\">Could be due to "+
                                                        "incomplete implementation of usfm-grammar or vachan-api too"
                              }
                              else if (format == "json") {
                                var pretty = JSON.stringify(data, null, 4)
                                outputForDownload = pretty
                                outElement.innerHTML = "<div class=\"text-break w-100\">"+
                                                        htmlEntities(pretty)+"</div>"
                              } else if (format == "table") {
                                outputForDownload = data
                                var tableHTML = "<table class=\"table-secondary border p-2 m-1\">"
                                var rows = data.split("\n")
                                for (let row in rows) {
                                  console.log("row",rows[row])
                                  tableHTML += "<tr class=\"border\">"
                                  var cells = rows[row].split('\t')
                                  for (let cell in cells) {
                                    console.log("cell", cells[cell])
                                    tableHTML += "<td class=\"border\">"+cells[cell]+"</td>"
                                  }
                                  tableHTML += "</tr>"
                                }
                                tableHTML += "</table>"
                                outElement.innerHTML = tableHTML
                              } else if (format == "usx") {
                                outputForDownload = data
                                outElement.innerHTML = "<div class=\"text-break w-100\">"+
                                                        htmlEntities(data)+"</div>"
                              } else if (format == "syntax-tree") {
                                outputForDownload = data
                                outElement.innerHTML = "<div class=\"text-break w-100\">"+
                                                        htmlEntities(prettySyntaxTree(data))+"</div>"
                              }


                            }
                    );
      }

      function prettySyntaxTree(str) {
        var indent = 0;
        var outStr = ""
        for(let i=0; i<str.length; i++) {
          let char = str[i]
          if (char=="(") {
            outStr += char 
            indent += 1
            // for (let j=0;j<indent; j++) { outStr += " "}
          } else if (char == ")") {
            indent -= 1
            outStr += char
            outStr += "\n"
            for (let j=0;j<indent; j++) { outStr += "  "}
          } else if (char == " ") {
            outStr += "\n"
            for (let j=0;j<indent; j++) { outStr += "  "}
          } else {
            outStr += char
          }
        }
        outStr = outStr.replace(/\n\s+\n/g, "\n");
        return outStr
      }

      function htmlEntities(str) {
          return String(str)
            .replace(/&/g, '&amp;')
            .replace(/</g, '&lt;')
            .replace(/>/g, '&gt;')
            .replace(/"/g, '&quot;')
            .replace(/ /g, '&nbsp;')
            .replace(/\n/g, '<br>');
      }

      function downloadOutput() {
        var pom = document.createElement('a');
        var format = document.getElementById('format-select').value
        var filename = "usfm-output.txt"
        pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + 
          encodeURIComponent(outputForDownload));

        if (format == "usx") { filename = "USX.xml"}
        else if (format == "json") { filename = "USFM.json"}
        else if (format == "table") { filename = "USFM.tsv"}
        else if (format == "syntax-tree") { filename = "USFM-syntax-tree.txt"}
        pom.setAttribute('download', filename);

        pom.style.display = 'none';
        document.body.appendChild(pom);

        pom.click();

        document.body.removeChild(pom);
      }
    </script>


</head>
<body>
  <!-- <div id="login-form">
    <div class="d-flex flex-row mb-3 p-1 border">
      <input type="text" placeholder="Email" id="userEmail">
      <input type="password" placeholder="Password" id="userPassword">
      <button  class="btn btn-secondary" id="loginButton" onclick="VElogin();" >Login</button>
      <a href="http://localhost:8000/v2/demos/user/register"> Sign Up </a>
    </div>
  </div> -->
  <div class="d-flex flex-row">
  <img src="https://vachanonline.com/favicon.ico" alt="Vachan Logo">
  <h1> Demo - USFM Grammar</h1>
  <h4> 3.0.0a5 </h4>
  </div>

  <div class="container vh-100">
    <div class="row">
      <div class="col-3">
        <select class="form-select" aria-label="Content Filter" id="filter-select">
          <option selected value="scripture-bcv">Scripture (BCV)</option>
          <option value="scripture-paragraph">Scripture (Paragraphs)</option>
          <option value="notes">Footnotes and Cross-refs</option>
          <option value="note-text">Footnotes and Cross-refs (Text)</option>
          <option value="all">Everything</option>
        </select>
      </div>
      <div class="col-2">
        <select class="form-select" aria-label="Output Format" id="format-select">
          <option selected value="table">Table (TSV)</option>
          <option value="json">JSON</option>
          <option value="usx">USX</option>
          <option value="syntax-tree">Syntax Tree</option>
        </select>
      </div>
      <div class="col-1">
        <button class="btn btn-secondary" onclick="convertUSFM();">Process</button>
      </div>
      <div class="col-5">
        <p> </p>
      </div>
      <div class="col-1 end-0">
        <button class="btn btn-secondary" onclick="downloadOutput();">Download</button>
      </div>

    </div>
    <div class="row h-100">
      <div class="col d-flex flex-column border vw-50">
            <textarea class="p-1 m-1 h-100" id="input-usfm" 
              placeholder="Type or paste you USFM content here"
            >\id HAB 45HABGNT92.usfm, Good News Translation, June 2003
\c 3
\s1 A Prayer of Habakkuk
\p
\v 1 This is a prayer of the prophet Habakkuk:
\b
\q1
\v 2 O \nd Lord\nd*, I have heard of what you have done,
\q2 and I am filled with awe.
\q1 Now do again in our times
\q2 the great deeds you used to do.
\q1 Be merciful, even when you are angry.
            </textarea>
      
      </div>
      <div class="col d-flex border">
        <div id="output" class="h-100 w-100">
          <p class="text-secondary">OUTPUT</p>
          <div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
</body>
















